body {
  background: linear-gradient(to bottom, #0D031C, #4E2E52);
  margin: 0;
}

.head {
  position: relative;
  width: 100%;
  height: 200vh;
  overflow: hidden;
}

.purple_background {
  position: absolute;
  width: 100%;
  height: 950px;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 0.5s ease-out;
}

.name_black_swan, .honkai,  .br , .memory {
  position: absolute;
  z-index: 2;
}

.name_black_swan {
  padding: 10px;
  margin-top: 30px;
  width: 1406px;
  height: 165px;
  top: -20px;
  left: 56px;
}

.honkai {
  top: 15px;
  left: 1283px;
  padding-left: 100px;
}


.br {
  top: 210px;
  left: 9px;
  width: 900px; 
  height: 2px;
  background: linear-gradient(to right,  #ffffff, #D000FF); 
  margin: 20px 0;
}

.memory {
  top: 250px;
  left: 150px;
}

.splash_art , .name_character , .gorgeous {
  position: absolute;
  z-index: 3;
}

.splash_art {
  top: 80px;
  left: 690px;
  width: 980px;
  height: 900px;
}

.name_character {
  font-size: 60px;
  font-family: "Dongle", serif;
  background: linear-gradient(to right , #ffffff , #EEA2FF);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  color: transparent;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  top: 130px;
  left: 40px;
}

.gorgeous {
  font-size: 50px;
  font-family: "Dongle", serif;
  color: #ffffff;
  top: 180px;
  left: 650px;

}

#redirectButton ,.about , .info-box {
  position: absolute;
  z-index: 4;
}

#redirectButton {
  border: none;
  background: none;
  cursor: pointer;
  color: #ffffff;
  top: 195px;
  left: 1480px;
}
.material-symbols-outlined {
  font-size: 80px;
  width: 80px;
  height: 80px;
}

.about {
  font-size: 50px;
  font-family: "Dongle", serif;
  color: #4E2E52;
  background: linear-gradient(to right , #ffffff , #EEA2FF);
  border-radius: 50px;
  width: 300px;
  height: 46px;
  display: flex;
  align-items: center; 
  justify-content: center;
  top: 430px;
  left: 300px;
}

.info-box {
  position: absolute;
  background: none;
  width: 580px;
  height: 250px;
  display: flex;
  align-items: center; 
  justify-content: center;
  top: 510px;
  left: 200px;
  box-sizing: border-box;
  overflow: hidden;
}

.info-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 580px;
  height: 250px;
  border-radius: 20px;
  z-index: 2;
  background: linear-gradient(to right , #D000FF , #3E0D72);
  opacity: 0.6;

}

.info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-right: 50px;
  color: #ffffff;
  white-space: pre-wrap;
  text-align: center;
  z-index: 4;
}

.sticker , .head-eidlon1 , .head-eidlon2 {
  position: absolute;
  z-index: 5;
}

.sticker {
  width: 250px;
  height: 250px;
  top: 665px;
  left: 1400px;
}

.head-eidlon1 {
  width: 320px;
  height: 320px;
  top: 230px;
  transform: rotate(10deg);
  transform-origin: center center;
}

.head-eidlon2 {
  top: 620px;
  left: 20px;
}

.quote-1 , .quote-2 , .head-eidlon3 , .head-eidlon4 , .dreamscape , #ultimate {
  position: absolute;
  z-index: 3;
}

.quote-1 , .quote-2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
  color: #ffffff;
  white-space: pre-wrap;
  text-align: center;
}

.quote-1 {
  top: 980px;
  left: 40px;
}

.quote-2 {
  top: 1350px;
  left: 1200px;
}

.dreamscape {
  width: 320px;
  height: 740px;
  top: 1020px;
  left: 650px;
}

.head-eidlon3 {
  width: 450px;
  height: 450px;
  top: 950px;
  left: 1150px;
}

.head-eidlon4 {
  width: 500px;
  height: 450px;
  top: 1350px;
  left: 30px;
  transform: rotate(-10deg);
}

/*ultimate button*/


#ultimate {
  font-size: 50px;
  font-family: "Dongle", serif;
  color: #4E2E52;
  background-color: #7c3386;
  border-radius: 50px;
  border: none;
  width: 280px;
  height: 48px;
  padding-top: 10px;
  display: flex;
  align-items: center; 
  justify-content: center;
  top: 1770px;
  left: 670px; 
  cursor: pointer;
}

#ultimate::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right , #ffffff , #EEA2FF);
  left: 0;
  top: 0;
  border-radius: 50px;
}

#ultimate::before {
  content: "";
  background: linear-gradient(45deg , #0D031C , #D000FF , #601caf);
  position: absolute;
  top: -2;
  left: -2;
  background-size: 600%;
  z-index: -2;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 10s linear infinite;
  transition: opasity .3s ease-in-out;
  border-radius: 50px;
  opacity: 0;
}

#ultimate:hover::before {
  opacity: 1;
} 

#ultimate:active::after {
  background: transparent;
}

#ultimate:active {
  color: #ffffff;
}

/*animation*/

@keyframes move-up {
  0% , 100% {
    transform: translateY(0);
  } 65% {
    transform: translateY(10px);
  }
}

@keyframes move-down {
  0% , 100% {
    transform: translateY(0);
  } 70% {
    transform: translateY(-10px);
  }
}

@keyframes slow-move-up-down {
  0% {
    transform: translateY(-10px);
  } 25% {
    transform: translateY(0);
  } 60% {
    transform: translateY(10px);
  } 85% {
    transform: translateY(0);
  } 100% {
    transform: translateY(-10px);
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  } 50% {
    background-position: 400% 0;
  } 100% {
    background-position: 0 0;
  }
}

.head-eidlon-animation1 {
  animation: move-down 4s infinite;
}

.head-eidlon-animation2 {
  animation: move-up 4s infinite;
}

.splash-art-animation {
  animation: slow-move-up-down 12s infinite;
}

.head-eidlon-animation3 {
  animation: move-up 10s infinite;
}

.head-eidlon-animation4 {
  animation: move-down 10s infinite;
}

.dreamscape-animation {
  animation: slow-move-up-down 15s infinite;
}
/* end animation*/
/*# sourceMappingURL=style.css.map */
